@import "./normalize";

$mobile-size: 550px;

$side-spacing: 30px;

$back:  #121212;
$wells: #202020;

$success: #33aa33;
$error: #aa3333;

body {
  background-color: $back;
  color:       #fafafa;
  margin:      12px;
  font-family: "Helvetica";
  font-weight: 300;
  font-size:   16px;
}


.header {

    background-color: $wells;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    @media all and (max-width:$mobile-size) {
        justify-content: flex-end;
    }

    align-items: center;
    padding: 7px;


    .title {
        font-size: 2em;
        letter-spacing: 0.3em;
        padding: 3px;
    }

    #host-field {
        padding: 3px;
    }

}


#controls {
  width:  100%;
}

#controls-placeholder {
    background-color: $wells;
    width: 100%;
    height: 80vh;
    line-height: 80vh;
    vertical-align: middle;
    text-align: center;
}

input {
    background-color: black;
}

#filter-field {
    width: 100%;

    padding: 5px;
    margin-top: 15px;
    margin-bottom: 30px;

    box-sizing: border-box;

}

.dg.main {
    width: 100%;
}

// Hide the dat.GUI collapse controls button
.close-bottom {
    display: none;
}

.autocomplete-suggestion{
    padding: 5px;
}

.moment-ago {
    font-size: 0.75em;
    line-height: 0.9em;
    color: grey;
}

#log {

    margin-top: 10px;

    #log-header {
        $vert-padding: 6px;
        padding-top:    $vert-padding;
        padding-bottom: $vert-padding;
        text-align: center;
        background: black;
        font-size: 14px;

    }

    #log-entries {
        background-color: #1a1a1a;
        border: solid 1px #2c2c2c;
        border-top: none;
        min-height: 1em;
        padding: 5px;
    }

    .log-entry {
        padding: 5px;
    }

    .timestamp {
        font-size: 12px;
        color: #757575;
        margin-bottom: 3px;
    }

    .entry-text {
        font-size: 12px;
        line-height: 14px;

    }

}
